.header-section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    height: 20%;
    border-radius: 10px;
}

.header-section h1 {
    float: left;
    margin: 2% 2% 0 2%;
}

.header-section div{
    float: right;
    display: flex;
    margin: 0 2% 0 2%;

}

.header-section  div ul {
    list-style: none;
    
}

.header-section  a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header-section  a:hover {
    color: orange;
}

.new-arrivals {
    position: absolute;
    top: 20%;
    background-color: seagreen;
    color: white;
    padding: 2% 0 2% 0;
    border-radius: 10px;
}

.our-journey {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(157, 165, 42);
    color: white;
    padding: 2% 0 2% 0;
    border-radius: 10px;
}

.new-arrivals a{
    text-decoration: none;
    color: white;
}

.new-arrivals :hover {
    color: orange;
}

.new-arrivals h1 {
    float: left;
    margin: 15% 2% 0 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.new-arrivals img {
    float: right;
    height: 50%;
    width: 50%;
    margin: 0 4% 0 2%;
}

.our-journey a {
    text-decoration: none;
    color: white;
}

.our-journey a :hover {
    color: orange;
}

.our-journey h1 {
    float: right;
    margin: 15% 2% 0 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.our-journey img {
    float: left;
    height: 50%;
    width: 50%;
    margin: 0 4% 0 2%;
}

footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 175%;
    background-color: rgb(206, 187, 187);
    color: white;
    padding: 2% 0 2% 0;
    border-radius: 10px;
    left: 0;
    right: 0;
}

footer .social-media {
    padding-left: 2%;
    float: left;
}

footer .others {
    float: right;
    padding-right: 2%;
}

.others div a{
    text-decoration: none;
    color: black;
}